span.MuiStepLabel-label.Mui-completed.MuiStepLabel-alternativeLabel.css-qivjh0-MuiStepLabel-label,.css-qivjh0-MuiStepLabel-label.Mui-active {
    color: aliceblue!important;
}

.css-1ydyjjr-MuiTypography-root{
    color: white!important;
}

.Chart__Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.lastUpdate{
    color: aliceblue;
    padding-left: 2rem;
}