
.container{
    width: 90%;
    min-height: 50vh;
    background: #101020;
    border-radius: 2rem;
    border-left: 5px solid #7b1fa2;
    margin: 10% 0;
    padding: 2%;
}

.barContainer{
    height: 50vh;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border-right: 3px solid #7b1fa2;
    border-left: 3px solid #7b1fa2;
    border-top: 3px solid #7b1fa2;
}


.conCard, .recCard, .deathCard{
    padding: 10px;
    border-radius: 4px;
    box-shadow: 300ms cubic-bezier(0.4, 0, 0.2, 1)
}

.conCard{
    border-bottom: 10px solid rgba(0,255,0,.5);
}

.recCard{
    border-bottom: 10px solid rgba(0,0,255,.5);
}

.deathCard{
    border-bottom: 10px solid rgba(255,0,0,.5);
}


