.container {
    display: flex;
    flex-direction: column;
    align-items: center;width: 100vw;
    margin: 50px 0;
  }
  .card{
    margin: 0 70px!important;
    margin-bottom: 50px!important;
  }
  
  .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    
  }
  
  .recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  }
  