@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.header{
    height: 70vh; 
    margin-top: 15%;
    margin-left: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.links{
    border: 2px solid #9c27b0;
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8819b8;
}

.mainHeading{
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
background-clip: text;
-webkit-text-fill-color: transparent;

}

.list{
    margin-top: 0;
    color: whitesmoke;
    list-style: none;
}

.list li{
    margin-left: 1.5rem;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #8819b8; 
    font-weight: bold;
    font-size: 2rem; 
    display: inline-block;
    width: .5em;
    margin-left: -.3em;
  }

  .buttons{
      background-color: #7b1fa2;
  }