
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  background:  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url(./imgs/bgCovid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
}

.layout{
  display: flex;
  justify-content: center;
  align-items: center;
}